body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 220px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.heading
{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    background-color: #fefcfc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4;
}

.button:hover {
    background-color: #9f2828;
    cursor: pointer;
}

button:active {
    background-color: #bbb;
}

.clear {
    grid-column: span 4;
    background-color: #ff6666;
    height: 40px;
}

.clear:hover {
    background-color: #ff4d4d;
}

.clear:active {
    background-color: #ff3333;
}
